# The top-level dependencies are listed here.
# Using pip-tools you can automatically generate requirements.txt.
# This helps you segegate the top-level dependencies and makes the
# upgrade process easier.

# Here, the dependencies aren't pinned to keep them updated.
# However, you should pin your top-level dependencies.

# https://github.com/jazzband/pip-tools

bcrypt
fastapi
passlib
pyjwt
python-dotenv
python-multipart
uvicorn
gunicorn
