attrs==19.3.0
click==7.1.2
fastapi==0.55.1
h11==0.9.0
httptools==0.1.1
more-itertools==8.3.0
packaging==20.4
pluggy==0.13.1
py==1.8.1
pydantic==1.5.1
pyparsing==2.4.7
pytest==5.4.2
six==1.15.0
starlette==0.13.2
uvicorn==0.11.5
uvloop==0.14.0
wcwidth==0.1.9
websockets==8.1
